/*body*/
body
{
    
    font-family: 'Raleway', sans-serif;
    background-color: #ffff;
    margin:0;

}

/*header*/

header
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#logo
{
    padding-top: 20px;
    margin-left: 20px;
}
/*nav*/
nav ul
{
    display: flex;
    padding: 5px;
    list-style-type: none;
    margin-right: 60px;
}
nav li
{
    padding: 20px;
}
nav a
{
    text-decoration: none;
    color: black;
}
nav a:hover
{
    color: #0065FC;
    padding-top: 42px;
    border-top: 5px solid #0065FC;
}
nav li #inscrire
{
    color: #0065FC;
    font-weight: bolder;
}
#inscrire:hover
{
    border-top: 1px solid #ffff;
}
/*section .intro*/
.intro
{
    margin-left: 20px;
}
.intro h2 
{
    font-size: 22px;
}
.intro h3
{
    font-weight:500;
    font-size: 18px;
    padding-left: 1px;
}
/*form .carte*/

.carte
{
    padding-top: 15px;
    padding-bottom: 15px;
}
.carte button 
{   
    font-size: 20px;
    border-width: 1px;
    padding: 10px 15px 10px 15px;
    border-radius: 15px 0px 0px 15px;
    border-color: white;
    border-style: none;
}
div button i
{
    font-size: 20px;
}
.carte .recherche
{
    
    background-color: #0065fc;
    font-size: 20px;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 0px 15px 15px 0px;
}
.carte .recherche:hover
{
    background: rgb(217, 217, 243);
    color: black;
    cursor: pointer;
}
div input
{
    font-size: 15px;
    border-width: 0px; 
}
.carte input 
{
    font-weight:600;
    border: 1px solid white;
    margin-top: 10px;
    
    padding: 12.5px 15px 11px 10px;
}
.carte  .loupe
{
    display: none;
}


/*div filtres */
.filtres
{
    margin-top: 20px;
}
.filtres strong
{
    font-size: 13px;
}
 label
{
    color: black;
    font-weight:600;
    font-size: 16px;
    border-radius: 30px;
    padding: 13px 13px 13px 23px;
    margin: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    border:  1px solid rgb(217, 217, 243);
}
span
{
    padding-left: 10px;  
}
span a
{
    text-decoration: none;
}
span label:hover
{
    color: #ffff;
    background: #0065FC;
    border:solid 1px rgb(217, 217, 243);
    cursor: pointer;
}
span button
{
    color: black;
    font-weight:600;
    font-size: 1em;
    border-radius: 30px;
    padding: 3px 3px 3px 3px;
    margin: 10px;
    margin-left: 10px;
    background-color: white;
    border: none;
}
span button:hover
{
    color: #ffff;
    background: #0065FC;
    cursor: pointer;
}
span i
{
    color: #0065fc;
    border-radius: 30px;
    background-color: #DEEBFF;
    border: 6px solid #DEEBFF;
    padding: 10px 10px 10px 10px;
    margin-left: -21px;
    padding-left: 10px;
}
.info
{
    display: block;
    margin-top: 2%;
    font-size: 14px;
}
.info i
{
   color: #0065fc;
   font-size: 10px;
   padding: 0.50em 0.65em 0.50em 0.65em;
   border: 2px solid #F2F2F2;
   border-radius: 100%;
}

/*main*/

/*section hébergements*/
main
{
    display: flex;
    margin-top: 30px; 
    margin-left: 40px;
    margin-right: 0px;
}
#hebergements 
{
    text-align: center;
    justify-content: center;
    width: 60%;
    background-color: #F2F2F2;
    border-radius: 20px;
    text-align:left;
    padding: 30px;
    padding-right:1px;   
}
h1
{
    font-size: 1.3em;
    padding: 1px;
    margin: 1px;
} 
.bloc
{
    float: left;
    border-radius: 15px;
    width: 29%;
    height: 37%;
    text-align: left;
    font-size: medium;
    background-color: white;
    box-shadow: 0px 3px 0px rgb(218, 210, 210);
    margin-top: 25px;
    padding: 1px 1px 1px 1px;
    margin-left: 1.5%;
    cursor: pointer;
}
.bloc:hover
{
    background:  rgb(217, 217, 243);
}
.full
{
    justify-content: center;
    text-align: right;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    padding-top: 0px;
    margin-top: -8px;
    margin-left: -5px;
}
#hebergements h2
{
    font-size: 90%;
    padding-left: 10px;
}
#hebergements p
{
    font-size: 80%;
    padding-left: 10px;
}
#hebergements  i
{
    font-size: 80%;
    color: #0065fc;
}
/* style="color: #F2F2F2"> */
#hebergements  #star1  
{
    color: #F2F2F2;
}
#hebergements   #star2 
{
    color: #F2F2F2;
}
#hebergements  #star3  
{
    color: #F2F2F2;
}
#hebergements   #star4 
{
    color: #F2F2F2;
}
#hebergements  #star5  
{
    color: #F2F2F2;
}
#hebergements h3
{
    display: inline-table;
    padding: 10px;
    font-size: 0.9em;
    padding-top: 1px;
    color: black;
}
#hebergements h3:hover
{
    color:  #0065FC;
}


/*section populaires*/
#populaires
{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    padding-top: 1px;
    margin: 0px 0px 0px 60px;
}
#populaires h1
{
    padding-top: 30px;
}
#populaires h2
{
    display:flex;
    text-align: left;  
    font-size: 15px;
    padding: 4px;
    margin: 4px;
    padding-right: 0px;
    padding-top: 5px;
}
#populaires span i
{
    float: right;
    display: table-cell;
    color: black;
    font-size: 100%;
    margin-top: -30px;
    margin-right: 10%;
    background-color: #F2F2F2;
    border: #F2F2F2;
}
.carre
{    
    border-radius: 20px;
    width: 90%;
    height: 23%;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0px 3px 0px rgb(218, 210, 210);
    cursor: pointer;
}
.carre:hover
{
    background:  rgb(217, 217, 243);
}
#populaires img
{
    float: left;
    width: 43%;
    height: 125px;
    object-fit: cover;
    margin: 5px;
    margin-top: -10px;
    margin-left: -5px;
    margin-bottom: 20px;
    border-radius: 20px 0px 0px 20px;
    padding: 1px 15px 1px 10px;
}
#populaires p
{
    text-align: left;
    font-size: 80%;
    font-weight:normal;
    margin-right: 0px;
}
#populaires p i
{  
    text-align:right;
    color: #0065FC;
    font-size: 80%;
    padding-right: 0px;
    padding-top: 0%;
}
#populaires  #star_1  
{
    color: #F2F2F2;
}
#populaires    #star_2
{
    color: #F2F2F2;
}



/* Section Activités à Marseille*/
article
{
    margin-left: 45px;   
}
 h2
{
    text-align: left;
    font-size: 1.3em;
    color: black;
}
#promenade_1
{
    display:table-cell;
}
#promenade_2
{
    display:table-cell;
}
.paysage
{
    float: left;
    justify-content: space-between;
    text-align: left;
    padding: 5px;
    margin: 5px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 0px rgb(218, 210, 210);
    cursor: pointer;
   
}
.paysage:hover
{
    color: #0065FC;
}

.paysage img
{
    border-radius: 20px 20px 0px 0px;
}
h3
{
    padding-left: 15px;
    font-size: 0.9em;
}
#paysage_1
{
    width: 46%;
    height: 390px;
    background-color: white;
}
#paysage_1 img
{
    width: 100%;
    height: 340px;
    object-fit: cover;
}
#paysage_2
{
    background-color: white;
    width: 45%;
    height: 200px;
}
#paysage_2 img
{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#paysage_3
{
    width: 45%;
    height: 170px;
    background-color: white;
}

#paysage_3 img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

#paysage_4
{
    display: flex;
    text-align: left;
    width: 45%;
    height: 390px;
    background-color:white;
}
#paysage_4 img
{ 
    width: 100%;
    height: 340px;
    object-fit: cover;
}
#paysage_5
{
    width: 40%;
    height: 160px;
    background-color: white;
}
#paysage_5 img
{
    width: 100%;
    height: 110px;
    object-fit: cover;
}

#paysage_6
{
    width: 40%;
    height: 210px;
    background-color: white;
}

#paysage_6 img
{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

/*footer*/

footer
{
    width: auto;
    height: auto;
    display: flex;
    flex-direction:row;
    justify-content:start;
    text-align:left;
    background-color: #F2F2F2;
    margin-top: 10%;
    margin-top: 5%;
}

div .fin
{
        margin: auto;
        font-size: 0.90em;
        margin-left: 1px;
        padding-left: 1px;
}
footer h2
{
    font-size: 1em;
    font-weight: bolder;
    margin-left:55px;
}
ul
{
    float: left;
    text-align: left;
    margin-left: 50px; 
    padding: 0px;
    color: black;
    list-style: none;

}
li
{
    display: flex;
    padding: 5px;
}
footer a 
{
    text-decoration: none;
    color: black;
}
footer .fin_1, .fin_2, .fin_3
{
    margin: 1%;
    margin-left: 9%;
}
footer a:hover
{
    color: #0065FC;
}

/* Media queries: 487px */

@media screen and (max-width: 487px) 
{
    body
    {
      width: 80%;
      margin-left: 0px;
    }
}

@media screen and (max-width: 487px) 
{
    header
    {
        width: 125%;
        height: 100px;
        padding-bottom: 10%;
        border-bottom: 4px solid whitesmoke;


    }     
   nav 
    {
        width: 600px;
        height: 70px;
        display: flex;
        flex-direction: column;
        margin-left: -100px;
        padding-bottom: 60px;
        padding-top: 10px;

    }
    #logo img
    {
        margin-top: 3%;
        margin-left: 5%;

    }   
    nav ul 
    {
        height: 10px;
        padding-top: 10%;
    }
    nav li
    {     
        font-size: 1.2em;
        padding: 30px;
    }

    li a 
    {
        color: black;
        float: right;
        text-align: right;
    }
    nav li #inscrire
    {
        margin-top: -70px;
        margin-left: -120px;
    }

     div .inscrire
    {
        display: block;
        font-size: 10px;
        font-weight: bold;
        margin-top: -13%;
        padding-left: 10%;
        color: #0065FC;
        cursor: pointer;
    }        
    nav a:hover
    {
    border-bottom: 4px  solid #0065FC;
    padding: 0.1em 0 0.1em 0;
    border-top:none;
    }
    nav li #inscrire:hover
    {
        border-bottom: 1px solid white;
    }

}
@media screen and (max-width: 487px) 
{
    .intro
    {         
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: 50px;
        height: auto;
    }
    .intro h2
    {
       display: flex;
       text-align:left;
       font-size: 1.5em;

    }
    .intro h3 
    {
        font-size: 20px;
    }
    div .carte
    {
        padding-top: 10px;
    }

    .carte  .recherche
    {
    display: none;
    } 
    
    .carte  .loupe    
    {
        display:initial;
        background-color: #0065fc;
        font-size: 1.3em;
        color: white;
        padding: 10px 15px 10px 15px;
        border-radius: 0px 12px 12px 0px;    
    }
    .carte .loupe:hover
    {
        background: rgb(217, 217, 243);
        color: #0065fc;
        cursor: pointer;   
    }

    .filtres
    {
        display: flex;
        flex-direction:column;
        font-size: 40px;
        margin-top: 10px;
        margin-left: 2px;
    }
    .filtres button 
    {
        margin-top: 5%;
    }
    span label
    {
        font-size: 20px;
        padding-top: 10px;
    }

    
    .info
    {
        width: 120%;
        display: flex;
        font-size: 1em;
        margin-top: 7%;
    }
    
    .info i
    {
       color: #0065fc;
       font-size: 0.8em; 
    }
    
}

@media screen and (max-width: 487px) 
{
    main
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin-left: 1px;
    }
    #hebergements
    {
        width: 120%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 1px;
        align-content: center;
        justify-content: center;
        background-color: white;
        padding-left: 0px;
    }
    .bloc
    {
        width: 100%;
        height: 180px;
        padding-left: 0px;

    }
    #hebergements section img  
    {
        width: 100%;
        height: 120px;
    }
    #hebergements h1
    {
        font-size: 1.5em;
    }
    #hebergements h2
    {
        font-size: 1em;
        margin-top: -10px;
    }
    #hebergements p 
    {
        font-size: 0.8em;
        margin-top: -10px;
    }
    /*section populaires*/

    #populaires
    {
        width: 120%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        border-radius: 0px;
        padding-left: 0px;
    }
    #populaires h1
    {
        font-size: 1.5em;
        padding-left: 40px;
    }
    .carre
    {
        width: 95%;
        height: 140px;
        margin-left: 30px;
    }
    #populaires img
    {     
        width: 120px ;
        height: 130px;
        margin-top: -10px;
    }
    #populaires p
    {
        text-align: left;
         font-size: 0.8em;
         padding-right: 80px;
    }
    #populaires h2
    {
         text-align: left;
         font-size: 1em;
         padding-right: 20px;
         padding-top: 0px;   
    }
    #populaires span i
    {
        padding-right: 40px;
    }  
}
@media screen and (max-width: 487px) 
{
    article
    {
        width: 110%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-left: 1px;
        padding-top: 1px;
    }
    article h1
    {
        font-size: 1.5em;
        padding-left: 10px;
    }
    article h2
    {
        padding-left: 15px;
        font-size: 1.5em;
    }

    .paysage
    {
        margin-left: 3%;
    }

    #paysage_1
    {
        width: 100%;
        height: 190px;
        background-color: white;
    }
    #paysage_1 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_2
    {
        width: 100%;
        height: 190px;
        background-color: white;
    }
    #paysage_2 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_3
    {
        width: 100%;
        height: 190px;
        background-color: white;
    }
    #paysage_3 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_4
    {
        width: 100%;
        height: 190px;
        background-color: white;
    }
    #paysage_4 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_5
    {
        width: 100%;
        height: 190px;
        background-color: white;
    }
    #paysage_5 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_6
    {
        width: 100%;
        height: 190px;
        background-color: white;
    }
    #paysage_6 img
    {
        width: 100%;
        height: 140px;
    }   
}
@media screen and (max-width: 487px) 

{
    footer
    { 
        width: 130%;
        display: flex;
        flex-direction: column;
    }
    footer .fin_1, .fin_2, .fin_3
    {
    
    font-size: 1.2em;
    padding-left: 0%; 
    }
    footer .fin_1 h2, .fin_2 h2, .fin_3 h2
    {
        margin-left: 13%;
    }
    
}



@media all and (min-width: 300px) and (max-width: 487px)
{
    body
    {
        width: 110%;
          
    }

    article
    {
        
        margin-left: 1px;
    }

}
/* Media queries: entre 487px et 890px */



@media all and (min-width: 487px) and (max-width: 890px)
{
    body
    {
        width: 60%;
          
    }
}

@media all and (min-width: 487px) and (max-width: 890px)
{
    header
    {
        padding-bottom: 1px;
    }
      
   nav 
    {
        width: 10%;
        height: 50px;
        height: 4em;
        display: flex;
        flex-direction: row;
        padding-left: 30%;
        padding-bottom: 20%;
        padding-top: 1%;

    }
    #logo img
    {
        margin-top: 3%;
        margin-left: 1%;
    }   
    nav ul 
    {
       margin-top: -17%;     
    }
    nav li
    {     
        font-size: 1.2em;       
    }
    li a 
    {
        color: black;
        float: right;
        text-align: right;
        margin-top: 1%;
    }
     div .inscrire
    {
        display: block;
        font-size: 1em;
        font-weight: bold;
        margin-top: -14%;
        padding-left: 40%;
        color: #0065FC;
        cursor: pointer;
    }        
    nav a:hover
    {
    border-top: 3px  #0065FC;
    padding: 0px;
    }
}
@media all and (min-width: 487px) and (max-width: 890px)
{
    .intro
    {         
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-top: -10%;
        margin-right: 0%;
        padding-left: 3%;
        width: 110%;
        height: auto;
    }
    .intro h2
    {
       width: 140%;
       display: flex;
       text-align:left;
       font-size: 1.4em;

    }
    .intro h3 
    {
        font-size: 1em;
        width: 120%;
    }
    div .carte
    {
        width: 140%;
        padding-top: 5%;
    }
    .carte .recherche
    {
        display: none;
    }  
    .carte  .loupe    
    {
        display: initial;
        background-color: #0065fc;
        font-size: 1.3em;
        color: white;
        padding: 10px 15px 10px 15px;
        border-radius: 0px 12px 12px 0px;    
    }
    .carte .loupe:hover
    {
        background: rgb(217, 217, 243);
        color: #0065fc;
        cursor: pointer;   
    }

    .filtres
    {
        display: flex;
        flex-direction:column;
        margin-top: 10%;
        margin-left: 2%;
    }
    .filtres button 
    {
        margin-top: 5%;
    }

    
    .info
    {
        width: 100%;
        font-size: 1em;
        margin-top: 7%;
    }
    
    .info i
    {
       color: #0065fc;
       font-size: 0.8em; 
    }
    
}



@media all and (min-width: 487px) and (max-width: 890px)
{
    main
    {
        width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    #hebergements
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
        margin-left: 0px;
        align-content: center;
        justify-content: center;
        background-color: white;
        padding-left: 0px;
    }
    .bloc
    {
        width: 150%;
        height: 300px;
        margin-left: 90%;

    }
    #hebergements section img  
    {
        width: 100%;
        height: 200px;
    }
    #hebergements h1
    {
        font-size: 2em;
        margin-left: 90%;

    }
    #hebergements h2
    {
        font-size: 1.5em;
        margin-top: -10px;
    }
    
    #hebergements p 
    {
        font-size: 1.2em;
        margin-top: -10px;
    }
    /*section populaires*/

    #populaires
    {
        width: 180%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        border-radius: 30px;
        padding-left: 0px;
    }
    #populaires h1
    {
        font-size: 2em;
        padding-left: 40px;
    }
    .carre
    {
        width: 90%;
        height: 170px;
        margin-left: 30px;
        margin-top: 3%;
    }
    #populaires img
    {     
        width: 50% ;
        height: 160px;
        margin-top: -12px;
    }
    #populaires p
    {
        text-align: left;
         font-size: 1.1em;
         padding-right: 80px;
    }
    #populaires h2
    {
         text-align: left;
         font-size: 1.3em;
         padding-right: 20px;
         padding-top: 0px;   
    }
    #populaires span i
    {
        width: 1%;
        margin-right: 10%;
        font-size: 1.5em;
    }  
}
/* Media queries: entre 487px et 768px */

@media all and (min-width: 487px) and (max-width: 890px)
{
    article
    {
        width: 90%;
        height: auto;
        display: block;
        flex-direction: row;
        margin-left: 10%;
        padding-top: 1px;
    }
    article h2
    {
       
        font-size: 2em;
        padding-left: 10px;
    }
    article h3
    {
        padding-left: 15px;
        margin-top: 3%;
        font-size: 1.5em;
    }

    #paysage
    {
        width: 100%;
    }

    #paysage_1
    {
        width: 350px;
        height: 190px;
        background-color: white;
    }
    #paysage_1 img
    {
    width: 350px;
    height: 140px;
    }
    #paysage_2
    {
        width: 350px;
        height: 190px;
        background-color: white;
    }
    #paysage_2 img
    {
    width: 350px;
    height: 140px;
    }
    #paysage_3
    {
        width: 350px;
        height: 190px;
        background-color: white;
    }
    #paysage_3 img
    {
    width: 350px;
    height: 140px;
    }
    #paysage_4
    {
        width: 350px;
        height: 190px;
        background-color: white;
    }
    #paysage_4 img
    {
    width: 350px;
    height: 140px;
    }
    #paysage_5
    {
        width: 350px;
        height: 190px;
        background-color: white;
    }
    #paysage_5 img
    {
    width: 350px;
    height: 140px;
    }
    #paysage_6
    {
        width: 350px;
        height: 190px;
        background-color: white;
    }
    #paysage_6 img
    {
    width: 350px;
    height: 140px;
    }   
}

@media all and (min-width: 487px) and (max-width: 890px)

{
    footer
    { 
        width: 200%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    footer .fin_1, .fin_2, .fin_3
    {
    
    font-size: 1.4em;
    padding-left: 5%; 
    }
    footer .fin_1 h2, .fin_2 h2
    {
        margin-left: 8%;
    }
    footer .fin_3 h2
    {
        margin-left: 8%;
    }
}


/* Media queries: entre 768px et  1024px */


 

/* Media queries: entre 1024px et  1280px */

@media all and (min-width: 890px) and (max-width: 1279px)
{
    body 
    {
        width: 100%;
    }
}



@media all and (min-width: 890px) and (max-width: 1279px)
{
      div .inscrire
      {
          margin-right: -40%;
      }
}      

@media all and (min-width: 890px) and (max-width: 1279px)
{
    main 
    {
        margin: 20px;
    }
    #hebergements
    {
        width: 60%;
        height: 100%;
    }
    .bloc
    {
        width: 40%;
        height: 25%;
        margin: 3%;
        margin-top: 7%;
    }

    /*secrtion populaires*/

    #populaires
    {
        width: 30%;
        height: auto;
    }
      .carre
    {
        width: 100%;
        height: 160px;
        margin-top: 20%;
        padding-bottom: 1%;    
    }
    #populaires img  
    {
        width: 40% ;
        height: 150px;
        margin-top: -5px;
    }
    #populaires h2
    {
        font-size: 1em;
    }
    #populaires p 
    {
        font-size: 0.8em;
    }
}
@media all and (min-width: 890px) and (max-width: 1279px)
{
    article
    {
      margin-left: 10%;
    }
    article h2
    {
       
        font-size: 30px;
        padding-left: 10px;
    }
    article h3
    {
        padding-left: 15px;
        margin-top: 10px;
        font-size: 1em;
    }

    #paysage_1
    {
        width: 70%;
        height: 190px;
        background-color: white;
    }
    #paysage_1 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_2
    {
        width: 70%;
        height: 190px;
        background-color: white;
    }
    #paysage_2 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_3
    {
        width: 70%;
        height: 190px;
        background-color: white;
    }
    #paysage_3 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_4
    {
        width: 70%;
        height: 190px;
        background-color: white;
    }
    #paysage_4 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_5
    {
        width: 70%;
        height: 190px;
        background-color: white;
    }
    #paysage_5 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_6
    {
        width: 70%;
        height: 190px;
        background-color: white;
    }
    #paysage_6 img
    {
    width: 100%;
    height: 140px;
    }   
}
@media all and (min-width: 890px) and (max-width: 1279px)
{
    footer
    {
        width: 100%;
        margin-right: 1px;
    }
    footer .fin_1, .fin_2, .fin_3
    {
    margin-left: 5%; 
    }
}

@media all and (min-width: 487px) and (max-width: 890px)

{
    article
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        padding-top: 1px;
    }
    article h1
    {
        font-size: 1.5em;
        padding-left: 10px;
    }
    article h2
    {
        padding-left: 15px;
        font-size: 1.5em;
    }

   

    #paysage_1
    {
        width: 130%;
        height: 210px;
        background-color: white;
    }
    #paysage_1 img
    {
    width: 100%;
    height: 140px;
    }
    #paysage_2
    {
        
        width: 130%;
        height: 210px;
        background-color: white;
    }
    #paysage_2 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_3
    {
        width: 130%;
        height: 210px;
        background-color: white;
    }
    #paysage_3 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_4
       
    {   
        width: 130%;
        height: 210px;
        background-color: white;
    }
    #paysage_4 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_5
    {
        width: 130%;
        height: 210px;
        background-color: white;
    }
    #paysage_5 img
    {
        width: 100%;
        height: 140px;
    }
    #paysage_6
    {
        width: 130%;
        height: 210px;
        background-color: white;
    }
    #paysage_6 img
    {
        width: 100%;
        height: 140px;
    }   
}
@media all and (min-width: 487px) and (max-width: 640px)

{
    footer
    {
        width: 230%;
        margin-right: 1px;
    }
    footer .fin_1, .fin_2, .fin_3
    {
    margin-left: 5%; 
    }
}